*{
    padding: 0;
    margin: 0;
}
body{
    width: 1515px;
    height: auto;
}



/* NAVBAR */

.head{
    width: 100%;
    height: 119px;
    background-color: rgb(34,34,34);
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: sticky !important;
    top: -60px;
    left: 0;
    z-index: 1;
}
.head a{
    text-decoration:none;
    font-family: 'Work Sans', sans-serif;
}



.h-row1{
    width: 80%;
    height: 40%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
}
.h-row1 a{
    color: rgb(168,168,168);
    font-weight: 600;
}
.left-side{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right-side{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.line{
    width: 100%;
    height: 0.5px;
    background-color: rgb(67,67,67);
}



.h-row2{
    width: 90vw;
    height: 50px;
    margin: auto;
    font-size: 14px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
    background-color: rgb(34,34,34);
}
.h-row2 i{
    color:white;
}
.h-row2 img{
    background-color: black;
    width: 170px;
}



/* BODY */

/* poster */
.posters{
    width: 100%;
    height: auto;
}
.posters img{
    width: 100%;
}
.posters img:nth-child(2){
    position: relative;
    top: -10px;
}


/* sort */
.sort{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.right h4{
   margin-right: 20px;
}
.left, .right{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.left p, .right p{
    margin-right: 15px;
    font-size: 16px;
}

/* FILTER */
.filter{
    width: 82%;
    margin: 15px auto;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.filter-left{
    display: flex;
    flex-direction: column;
    width: 280px;
    position: sticky;
    top: 80px;
    left: 0;
    height: fit-content;
}

.filter-left > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;
    margin: 5px 0px;
    background-color: rgb(246,246,246);
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
}

.filter-left > div:hover{
    color: orange;
}

.products-right{
    width: 70%;
    display: flex;
    flex-direction: column;  
    height: auto;  
}
.products-right+img{
    width: 100%;
    height: auto;
}


.filter-left ion-icon{
    font-size: 18px;
}


/* right side */
#product , #products-2{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: 20px auto;
}

.mens-watch{
    width: 265px;
    height: 400px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.mens-watch:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}
.mens-watch .rate{
    display: flex;
    flex-direction: row;
    justify-content: center;
  align-items: center;
}
.rate p, del{
    margin-right: 10px;
}
.rupee{
     font-size: 16px;
     color: black;
     font-weight: 900;
}
.rate del{
    color: rgb(185,164,148);
}
.rate .offer{
    color: rgb(250,87,85);
    font-weight: 900;
}
.btn button{
    background-color: royalblue;
   font-size: 12px;
   color: white;
   padding: 2px 8px;
   font-family: 'Work Sans', sans-serif;
   border: none;
   margin: 10px 5px;
}







/* Footer */
.knowus{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgb(34,34,34);
    color: white;
    padding-top: 25px;
}
.knowus h3{
    font-size: 16px;
    margin-bottom: 20px;
    color: white;
    font-weight: 100;
}
.knowus ul{
    font-size: 12px;
    width: 170px;
    height: 170px;
    text-align: start;
    color: white;
    list-style: none;
}
.knowus li{
    margin-bottom: 8px;
    margin: 15px 0px;

}
.knowus li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.knowus li a:hover{
    color: orange;
}


#dowapp{
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
}
#sociallink{
    display: flex;
    flex-direction: column;
}
#img-1, #img-2{
     width: 150px;
     height: 60px;
}
#sociallink i{
    width: 40px;
    font-size: 25px;
}
#svg{
    display: flex;
    flex-direction: row;
}


/* last-row */
.last-foot{
    background-color: rgb(34,34,34);
}
.last-foot img{
    width: 98%;
    height: auto;
}
.last-foot:hover{
    cursor: not-allowed;
}


@media(max-width:800px){
    .head{
        height: auto;
        width: 100%;
    }
    .h-row1{
        display: none;
    }
    .h-row2{
        display: flex;
        flex-direction: column;
        text-align: center;
        height: auto;
        width: 100%;
        height: 400px;
        font-size: 16px;
        padding: 20px;
    }
    .h-row2 h4{
        margin: 20px 0px;
    }
    .h-row2 h4:hover{
        color:  orange;
        cursor: pointer;
    }
    .foot-rw2{
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: center;
    }
    .foot-rw2 > div{
         margin: 20px;
         font-size: 18px;
    }
    .knowus{
        width: 80%;
        margin: auto;
    }
    #know{
        display: none;
    }
    #know2 , #know3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .last-foot{
        display: none;
    }
}